.dropdown{
    width:240px;
    height: 357px;
    border:1px solid black;
    border-radius:0.5em;
}
.ButtonToDrop{
    width: 240px;
    height: 47px;
    border-radius: 0.5em;
}
.LIDP{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size:18px;
    width: 220px;
    height: 40px;
    margin:10px;

}
.LIDP div{
    padding-left: 10px;

}
.LIDP:hover{
    border-radius: 0.5em;
    transition: background-color 1s ease-in;
    background-color: #6B7280;
}
.ULDP{
    margin:0;
    padding-left:0px;
    max-height: 0px;
    overflow: hidden;
}
.buttonGPPDrop{
    display: flex;
    align-items: center;
    font-size: 14px;
}
