.Filter{
    width: 100%;
    height: 20%;
    position: relative;
}

.name{
    padding-top: 10%;
    font-size: 1.3vw;
    text-align: left;
    margin-left: 20%;
    font-weight: bold;
}
.SearchStyle{
    padding-left: 5%;
    border: none;
    outline: none;
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    font-size: 1vw;
}
.svgLupa{
    margin: auto;
    height: 50%;
}

.searchBlock{
    text-align: center;
    height: 50px;
    font-size: 1.5vh;
    width: 80%;
    margin: 2vh auto 4vh;
    border: solid 2px #d7d7d7;
    border-radius: 5px;
    position: relative;
    display: flex;

 }
.LupaContainer{
    padding: 0;
    margin: 0;
    width: 10%;
    display: inline-block;
}
.hrForFilter{
    width: 80%;
    margin: auto auto 6vh;
}