.GPMainContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.GPCenterContainer{
    width: 70%;
}
.GPLink{
    display: flex;
    align-items: center;
    justify-content: center;
}
.GPPeriod{
    float:right;
}
