.mainContainerLinks{
    width: 100%;
    height: 100%;
}
.NoLinksWord{
    padding-top: 10%;
    font-weight: bold;
    font-size: 2.3vh;
    color: gray;
    padding-bottom: 100px;
}
.NoLinksPic{
    height: 30%;
    width: 30%;
    padding-top: 10vh;
}

.noLinkDiv{
    padding-top: 10vh;
}
.OrChangeParamFilter{
    padding-top: 3vh;
    color: gray;
}